extends ../../templates/default
block vars
	-
		title = "Loot4Pay"

block content

	+style('intro', 'blocks')
	.intro
		.case
			.intro__main.row
				.intro__info
					.intro__title.h1.title-grad-light #[h1 Marketplace for virtual in-game goods and services]
					.intro__text A cutting-edge marketplace not only for in-game goods, including virtual items, currencies, artifacts, but also for services like mentoring, team-up with professionals, etc.
					.intro__btns.row
						.intro__btn.btn.--grad(href="") Whitepaper
							.btn__border
						.intro__btn.btn.--border(href="") Product
							.btn__border
				.intro__preview
					.intro__video
						img(src="_/uploads/video-img.png" srcset="_/uploads/video-img-x2.png 2x", alt="" width="670" height="400")
					.intro__play
						img(src="_/uploads/icons/play.svg", alt="")
			.intro__games.games.tac
				.games__title.h3.title-grad-purple #[h3 Building social metaverse network for gamers]
				.games__subtitle Works with 200+ games
				.games__list.row
					mixin games(img)
						.games__item
							img(src=img, alt="" width="40" height="40")
					+games('_/uploads/game-1.svg')
					+games('_/uploads/game-2.svg')
					+games('_/uploads/game-3.svg')
					+games('_/uploads/game-4.svg')
					+games('_/uploads/game-5.svg')
					+games('_/uploads/game-6.svg')
					+games('_/uploads/game-7.svg')
					+games('_/uploads/game-8.svg')
					+games('_/uploads/game-9.svg')
					+games('_/uploads/game-10.svg')

	+style('vision', 'blocks')
	.vision
		.case
			.vision__head.b-head
				.b-head__top.mb-lg
					.b-head__num #[span 1]
				.b-head__title.h2.tac.title-grad-light #[h2 Our Vision of «Play-to-earn»]
				.b-head__text.tac Our marketplace gives players the opportunity to earn money on AAA games that are already firmly established on the  market. These games already have hundreds of millions of players enjoying the gameplay, making in-game goods and services tied to those games valuable. Making money on your favorite game with an already huge client base is much more efficient and enjoyable than making money on so-called play-to-earn casual games that are designed to extort money from users and are completely uninteresting.
			.vision__main
				.vision__example.ex.bg
					.ex__top EXAMPLE
					.ex__wrap.row
						.ex__logo
							img(src="_/uploads/vision-logo.svg", alt="")
						.ex__info
							.ex__price $ 170,000,000
							.ex__text Average daily gold turnover in game					
					.ex__bg.bg-img
						img(src="_/uploads/vision-img.jpg" srcset="_/uploads/vision-img-x2.jpg 2x", alt="")
				.vision__table.table
					.table__wrap
						.table__col.--feat
							.table__title FEATURES
							.table__list
								.table__item #[p Hundreds of #[br]millions of players]
								.table__item #[p Interesting titles with compelling mechanics]
								.table__item #[p Non-predatory #[br]monetization systems]
								.table__item #[p Advanced in-game economies]
								.table__item #[p Good reputation in the gaming community]
								.table__item #[p Loyal player #[br]bases]
						.table__col.--true
							.table__title #[strong AAA GAMES MARKET]
							.table__list
								.table__item
								.table__item
								.table__item
								.table__item
								.table__item
								.table__item
						.table__col.--false
							.table__title CASUAL PLAY-TO-EARN
							.table__list
								.table__item
								.table__item
								.table__item
								.table__item
								.table__item
								.table__item

	+style('feat', 'blocks')
	.feat
		.case
			.feat__head.b-head
				.b-head__top
					.b-head__num #[span 2]
					.b-head__name.title-grad-pink constant evolution
				.b-head__title.h2.title-grad-light #[h2 Upcoming improvements]
				.b-head__text.tac We aim to keep constantly improving our service and adding new features. Our goal is creating a metaverse for gamers, which will encompass all gaming worlds. We will make Loot4Pay the go-to place  among all gamers for anything you might need in ANY game.
			.feat__main
				.feat__list
					.feat__item
						.feat__preview.--corner
							.feat__img
								img(src="_/uploads/feat-1.png" srcset="_/uploads/feat-1-x2.png 2x", alt="")
						.feat__info
							.feat__icon
								img(src="_/uploads/feat-1-icon.svg", alt="" width="48" height="48")
							.feat__name Automation skins trade
							.feat__text Implementation of special functionality that will allow people to trade in-game skins in Dota 2 and CS:GO games automatically. It will save seller’s and buyer’s time and make their user experience super enjoyable.
						.feat__poly
							
					.feat__item.decor
						.feat__preview
							.feat__img
								img(src="_/uploads/feat-2.png" srcset="_/uploads/feat-2-x2.png 2x", alt="")
						.feat__info
							.feat__icon
								img(src="_/uploads/feat-2-icon.svg", alt="" width="48" height="48")
							.feat__name Paid Features
							.feat__text We will introduce the possibility for the sellers to advertise and customize their offers for a fee. This will help new merchants to gain a foothold on the #[br]platform.
						.feat__poly

					.feat__item.decor.--pink
						.feat__preview
							.feat__img
								img(src="_/uploads/feat-3.png" srcset="_/uploads/feat-3-x2.png 2x", alt="")
						.feat__info
							.feat__icon
								img(src="_/uploads/feat-3-icon.svg", alt="" width="48" height="48")
							.feat__name Presentation of the lottery
							.feat__text Tickets, required to participate in the lottery, can be purchased only with L4P token. The more tickets one has, the higher the chance of the victory.
						.feat__poly

					.feat__item.decor.--pink
						.feat__preview
							.feat__img
								img(src="_/uploads/feat-4.png" srcset="_/uploads/feat-4-x2.png 2x", alt="")
						.feat__info
							.feat__icon
								img(src="_/uploads/feat-4-icon.svg", alt="" width="48" height="48")
							.feat__name Teammate Live Search
							.feat__text We will implement a live search function. Placing orders to find teammate, professional or mentor will be just as easy as calling a taxi using a phone app.
						.feat__poly

					.feat__item.decor
						.feat__preview
							.feat__img
								img(src="_/uploads/feat-5.png" srcset="_/uploads/feat-5-x2.png 2x", alt="")
						.feat__info
							.feat__icon
								img(src="_/uploads/feat-5-icon.svg", alt="" width="48" height="48")
							.feat__name Metaverse for Gaming
							.feat__text Loot4Pay will become a complete social network for gamers. They will be able to use it to locate other people with similar interests and find new friends to play with or discuss any game related topic.
						.feat__poly

					.feat__item.decor.--pink
						.feat__preview.--corner
							.feat__img
								img(src="_/uploads/feat-6.png" srcset="_/uploads/feat-6-x2.png 2x", alt="")
						.feat__info
							.feat__icon
								img(src="_/uploads/feat-6-icon.svg", alt="" width="48" height="48")
							.feat__name Streaming Platform
							.feat__text Adding a streaming service similar to Twitch.tv. Live streaming is an integral part of gaming culture and we we are going to use it to our advantage.
						.feat__poly

					.feat__item.decor
						.feat__preview.--corner
							.feat__img
								img(src="_/uploads/feat-7.png" srcset="_/uploads/feat-7-x2.png 2x", alt="")
						.feat__info
							.feat__icon
								img(src="_/uploads/feat-7-icon.svg", alt="" width="48" height="48")
							.feat__name continuous Interface Improvement
							.feat__text Updating the user interface is high on our priority list. A quality UI/UX is important for both the overall user experience and presentation. We will never stop improving it.
						.feat__poly

	+style('token', 'blocks')
	.token
		.case
			.token__head.b-head
				.b-head__top
					.b-head__num.clean-line #[span 3]
					.b-head__name.title-grad-pink exploring new territory
				.b-head__title.h2.title-grad-light #[h2 Token Usability]
				.b-head__text.tac At this point we’re looking to evolve our marketplace #[br]by introducing blockchain integration
			.token__main
				.token__wrap.row
					.token__info
						.token__list
							.token__item
								.token__icon
									img(src="_/uploads/token-1-icon.svg", alt="" width="43" height="43")
								.token__name.h4 #[h4 Token Utility]
								.token__text The Loot4Pay token will be used to pay for goods and services provided by the sellers using our marketplace, as well as for other miscellaneous purchases like pins and customization for offers, lottery tickets etc. We are going to introduce an 8-15% discount for all transactions made using the l4p token. We will continue to grow the platform to provide additional spending opportunities, adding value to the token.
							.token__item
								.token__icon
									img(src="_/uploads/token-2-icon.svg", alt="" width="43" height="43")
								.token__name.h4 #[h4 Token Burning]
								.token__text All of the additional options offered by marketplace will be available for purchase exclusively via our token, and half tokens we get this way will be burned every month to decrease circulating supply. In addition, 10% of tokens acquired from purchases of additional features as well as lottery tickets will also be burned, to reduce the total amount in circulation.
						.token__note
							.token__note-text #[u IMPORTANT!] Find out more in our #[span.title-grad-pink Whitepaper]
					.token__video
						video(autoplay muted loop playsinline webkit-playsinline)
							source(src="_/uploads/token-video.webm" type="video/webm")
							source(src="_/uploads/token-video.mp4" type="video/mp4")

	+style('roadmap', 'blocks')
	.roadmap
		.case
			.roadmap__head.b-head
				.b-head__top
					.b-head__num #[span 4]
					.b-head__name.title-grad-pink Whats next
				.b-head__title.h2.title-grad-light #[h2 Roadmap]
				.b-head__text.tac We understand that constant updates are key to success. Here you can see roadmap that will #[br]allow us to meet all our current goals.
			.roadmap__main
				.roadmap__slider.swiper
					.roadmap__slider-wrap.swiper-wrapper
						.roadmap__slider-slide.swiper-slide
							.roadmap__info
								.roadmap__icon
								.roadmap__name.h5 #[h5 Marketplace Launch]
								.roadmap__date March 30th 2021
							.roadmap__border
								.roadmap__border-item
								.roadmap__border-item
								.roadmap__border-item
								.roadmap__border-item
						.roadmap__slider-slide.swiper-slide
							.roadmap__info
								.roadmap__icon
								.roadmap__name.h5 #[h5 Product-Market Fit found]
								.roadmap__date March 30th 2021
							.roadmap__border
								.roadmap__border-item
								.roadmap__border-item
								.roadmap__border-item
								.roadmap__border-item
						.roadmap__slider-slide.swiper-slide
							.roadmap__info
								.roadmap__icon
								.roadmap__name.h5 #[h5 Blockchain Introduction]
								.roadmap__date March 30th 2021
							.roadmap__border
								.roadmap__border-item
								.roadmap__border-item
								.roadmap__border-item
								.roadmap__border-item
						.roadmap__slider-slide.swiper-slide
							.roadmap__info
								.roadmap__icon
								.roadmap__name.h5 #[h5 Interface Improvement]
								.roadmap__date March 30th 2021
							.roadmap__border
								.roadmap__border-item
								.roadmap__border-item
								.roadmap__border-item
								.roadmap__border-item
						.roadmap__slider-slide.swiper-slide
							.roadmap__info
								.roadmap__icon
								.roadmap__name.h5 #[h5 Marketplace Launch]
								.roadmap__date March 30th 2021
							.roadmap__border
								.roadmap__border-item
								.roadmap__border-item
								.roadmap__border-item
								.roadmap__border-item
						.roadmap__slider-slide.swiper-slide
							.roadmap__info
								.roadmap__icon
								.roadmap__name.h5 #[h5 Product-Market Fit found]
								.roadmap__date March 30th 2021
							.roadmap__border
								.roadmap__border-item
								.roadmap__border-item
								.roadmap__border-item
								.roadmap__border-item
					.roadmap__arrows.row
						.roadmap__arrow.swiper-button-prev
							.swiper-border
							<svg width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8.74003 0.838811C9.03293 1.1317 9.03293 1.60658 8.74003 1.89947L2.63879 8.00072L8.74003 14.102C9.03293 14.3949 9.03293 14.8697 8.74003 15.1626C8.44714 15.4555 7.97227 15.4555 7.67937 15.1626L1.04779 8.53105C0.754902 8.23816 0.754902 7.76328 1.04779 7.47039L7.67937 0.838811C7.97227 0.545917 8.44714 0.545917 8.74003 0.838811Z" fill="white"/></svg>
						.roadmap__arrow.swiper-button-next
							.swiper-border
							<svg width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.258013 0.838811C-0.0348802 1.1317 -0.0348802 1.60658 0.258013 1.89947L6.35926 8.00072L0.258013 14.102C-0.0348802 14.3949 -0.0348802 14.8697 0.258013 15.1626C0.550906 15.4555 1.02578 15.4555 1.31867 15.1626L7.95025 8.53105C8.24315 8.23816 8.24315 7.76328 7.95025 7.47039L1.31867 0.838811C1.02578 0.545917 0.550906 0.545917 0.258013 0.838811Z" fill="white"/></svg>
		.roadmap__bg
			img(src="_/uploads/roadmap-bg.jpg", alt="" width="1920" height="800")

