extends ../../templates/default
block vars
	-
		title = "Loot4Pay"

block content

	+style('intro', 'blocks')
	.intro
		.case
			.intro__main.row.an.fadeIn-up
				.intro__info
					.intro__title.h1.title-grad-light #[h1 Marketplace for virtual in-game goods and services]
					.intro__text A cutting-edge marketplace not only for in-game goods, including virtual items, currencies, artifacts, but also for services like mentoring, team-up with professionals, etc.
					.intro__btns.row
						a.intro__btn.btn.--grad(href="") Whitepaper
							.btn__border
						a.intro__btn.btn.--border(href="") Product
							.btn__border
				//- .intro__preview
				//- 	.intro__video
				//- 		img(src="_/uploads/video-img.png" srcset="_/uploads/video-img-x2.png 2x", alt="" width="670" height="400")
				//- 	a.intro__play(data-fancybox href="https://youtu.be/jfKfPfyJRdk")
				//- 		img(src="_/uploads/icons/play.svg", alt="")
				.intro__preview.--items
					.intro__list
						.intro__item
							picture
								source(srcset="_/uploads/intro-1.webp" type="image/webp")
								img(src="_/uploads/intro-1.png", alt="" width="315" height="358")
						.intro__item
							picture
								source(srcset="_/uploads/intro-2.webp" type="image/webp")
								img(src="_/uploads/intro-2.png", alt="" width="496" height="391")
						.intro__item
							picture
								source(srcset="_/uploads/intro-3.webp" type="image/webp")
								img(src="_/uploads/intro-3.png", alt="" width="372" height="407")
						.intro__item
							picture
								source(srcset="_/uploads/intro-4.webp" type="image/webp")
								img(src="_/uploads/intro-4.png", alt="" width="439" height="478")
							
			.intro__games.games.tac
				.games__title.h3.title-grad-purple.an.fadeIn-up #[h3 Building social metaverse network for gamers]
				.games__subtitle.an.fadeIn-up(data-timeout="0.1s") Works with 200+ games
				.games__list.row.an.fadeIn-up(data-timeout="0.15s")
					mixin games(img)
						.games__item
							img(src=img, alt="" width="40" height="40" loading="lazy")
					+games('_/uploads/game-1.svg')
					+games('_/uploads/game-2.svg')
					+games('_/uploads/game-3.svg')
					+games('_/uploads/game-4.svg')
					+games('_/uploads/game-5.svg')
					+games('_/uploads/game-6.svg')
					+games('_/uploads/game-7.svg')
					+games('_/uploads/game-8.svg')
					+games('_/uploads/game-9.svg')
					+games('_/uploads/game-10.svg')

	+style('vision', 'blocks')
	.vision.anchore
		.case
			.vision__head.b-head
				.b-head__top.mb-lg
					.b-head__num.an.fadeIn-down #[span 1]
				.b-head__title.h2.tac.title-grad-light.an.fadeIn-up #[h2 Our Vision of #[i «Play-to-earn»]]
				.b-head__text.tac.an.fadeIn-up(data-timeout="0.1s") Our marketplace gives players the opportunity to earn money on AAA games that are already firmly established on the  market. These games already have hundreds of millions of players enjoying the gameplay, making in-game goods and services tied to those games valuable. Making money on your favorite game with an already huge client base is much more efficient and enjoyable than making money on so-called play-to-earn casual games that are designed to extort money from users and are completely uninteresting.
			.vision__main.an.fadeIn-up
				.vision__example.ex.bg
					.ex__top EXAMPLE
					.ex__wrap.row
						.ex__logo
							img(src="_/uploads/vision-logo.svg", alt="" width="236" height="90" loading="lazy")
						.ex__info
							.ex__price $ 170,000,000
							.ex__text Average daily gold turnover in game					
					.ex__bg.bg-img
						picture
							source(srcset="_/uploads/vision-img.webp" type="image/webp")
							img(src="_/uploads/vision-img.jpg", alt="" loading="lazy")
				.vision__table.table
					.table__wrap
						.table__col.--feat
							.table__title FEATURES
							.table__list
								.table__item #[p Hundreds of #[br]millions of players]
								.table__item #[p Interesting titles with compelling mechanics]
								.table__item #[p Non-predatory #[br]monetization systems]
								.table__item #[p Advanced in-game economies]
								.table__item #[p Good reputation in the gaming community]
								.table__item #[p Loyal player #[br]bases]
						.table__col.--true
							.table__title #[strong AAA GAMES MARKET]
							.table__list
								.table__item
								.table__item
								.table__item
								.table__item
								.table__item
								.table__item
						.table__col.--false
							.table__title CASUAL PLAY-TO-EARN
							.table__list
								.table__item
								.table__item
								.table__item
								.table__item
								.table__item
								.table__item
		.anchore__link#intro

	+style('feat', 'blocks')
	.feat.anchore
		.case
			.feat__head.b-head
				.b-head__top
					.b-head__num.an.fadeIn-down #[span 2]
					.b-head__name.title-grad-pink.an.fadeIn-up constant evolution
				.b-head__title.h2.title-grad-light.an.fadeIn-up #[h2 Upcoming improvements]
				.b-head__text.tac.an.fadeIn-up(data-timeout="0.1s") We aim to keep constantly improving our service and adding new features. Our goal is creating a metaverse for gamers, which will encompass all gaming worlds. We will make Loot4Pay the go-to place  among all gamers for anything you might need in ANY game.
			.feat__main
				.feat__list.an.fadeIn-up
					.feat__item
						.feat__preview.--corner
							.feat__img
								picture
									source(srcset="_/uploads/feat-1.webp" type="image/webp")
									img(src="_/uploads/feat-1.png", alt="" loading="lazy")
						.feat__info
							.feat__icon
								img(src="_/uploads/feat-1-icon.svg", alt="" width="48" height="48" loading="lazy")
							.feat__name Automation skins trade
							.feat__text Implementation of special functionality that will allow people to trade in-game skins in Dota 2 and CS:GO games automatically. It will save seller’s and buyer’s time and make their user experience super enjoyable.
						.feat__poly
							
					.feat__item
						.feat__preview
							.feat__img
								picture
									source(srcset="_/uploads/feat-2.webp" type="image/webp")
									img(src="_/uploads/feat-2.png", alt="" loading="lazy")
						.feat__info
							.feat__icon
								img(src="_/uploads/feat-2-icon.svg", alt="" width="48" height="48" loading="lazy")
							.feat__name Paid Features
							.feat__text We will introduce the possibility for the sellers to advertise and customize their offers for a fee. This will help new merchants to gain a foothold on the #[br]platform.
						.feat__poly

					.feat__item
						.feat__preview
							.feat__img
								picture
									source(srcset="_/uploads/feat-3.webp" type="image/webp")
									img(src="_/uploads/feat-3.png", alt="" loading="lazy")
						.feat__info
							.feat__icon
								img(src="_/uploads/feat-3-icon.svg", alt="" width="48" height="48" loading="lazy")
							.feat__name Presentation of the lottery
							.feat__text Tickets, required to participate in the lottery, can be purchased only with L4P token. The more tickets one has, the higher the chance of the victory.
						.feat__poly

					.feat__item
						.feat__preview
							.feat__img
								picture
									source(srcset="_/uploads/feat-4.webp" type="image/webp")
									img(src="_/uploads/feat-4.png", alt="" loading="lazy")
						.feat__info
							.feat__icon
								img(src="_/uploads/feat-4-icon.svg", alt="" width="48" height="48" loading="lazy")
							.feat__name Teammate Live Search
							.feat__text We will implement a live search function. Placing orders to find teammate, professional or mentor will be just as easy as calling a taxi using a phone app.
						.feat__poly

					.feat__item
						.feat__preview
							.feat__img
								picture
									source(srcset="_/uploads/feat-5.webp" type="image/webp")
									img(src="_/uploads/feat-5.png", alt="" loading="lazy")
						.feat__info
							.feat__icon
								img(src="_/uploads/feat-5-icon.svg", alt="" width="48" height="48" loading="lazy")
							.feat__name Metaverse for Gaming
							.feat__text Loot4Pay will become a complete social network for gamers. They will be able to use it to locate other people with similar interests and find new friends to play with or discuss any game related topic.
						.feat__poly

					.feat__item
						.feat__preview.--corner
							.feat__img
								picture
									source(srcset="_/uploads/feat-6.webp" type="image/webp")
									img(src="_/uploads/feat-6.png", alt="" loading="lazy")
						.feat__info
							.feat__icon
								img(src="_/uploads/feat-6-icon.svg", alt="" width="48" height="48" loading="lazy")
							.feat__name Streaming Platform
							.feat__text Adding a streaming service similar to Twitch.tv. Live streaming is an integral part of gaming culture and we we are going to use it to our advantage.
						.feat__poly

					.feat__item
						.feat__preview.--bottom
							.feat__img
								picture
									source(srcset="_/uploads/feat-7.webp" type="image/webp")
									img(src="_/uploads/feat-7.png", alt="" loading="lazy")
						.feat__info
							.feat__icon
								img(src="_/uploads/feat-7-icon.svg", alt="" width="48" height="48" loading="lazy")
							.feat__name continuous Interface Improvement
							.feat__text Updating the user interface is high on our priority list. A quality UI/UX is important for both the overall user experience and presentation. We will never stop improving it.
						.feat__poly
		.anchore__link#feat

	+style('token', 'blocks')
	.token.anchore
		.case
			.token__head.b-head
				.b-head__top
					.b-head__num.clean-line.an.fadeIn-down #[span 3]
					.b-head__name.title-grad-pink.an.fadeIn-up exploring new territory
				.b-head__title.h2.title-grad-light.an.fadeIn-up #[h2 Token Usability]
				.b-head__text.tac.an.fadeIn-up(data-timeout="0.1s") At this point we’re looking to evolve our marketplace #[br]by introducing blockchain integration
			.token__main
				.token__wrap.row
					.token__info.an.fadeIn-up
						.token__list
							.token__item
								.token__icon
									img(src="_/uploads/token-1-icon.svg", alt="" width="43" height="43" loading="lazy")
								.token__name.h4 #[h4 Token Utility]
								.token__text The Loot4Pay token will be used to pay for goods and services provided by the sellers using our marketplace, as well as for other miscellaneous purchases like pins and customization for offers, lottery tickets etc. We are going to introduce an 8-15% discount for all transactions made using the l4p token. We will continue to grow the platform to provide additional spending opportunities, adding value to the token.
							.token__item
								.token__icon
									img(src="_/uploads/token-2-icon.svg", alt="" width="43" height="43" loading="lazy")
								.token__name.h4 #[h4 Token Burning]
								.token__text All of the additional options offered by marketplace will be available for purchase exclusively via our token, and half tokens we get this way will be burned every month to decrease circulating supply. In addition, 10% of tokens acquired from purchases of additional features as well as lottery tickets will also be burned, to reduce the total amount in circulation.
						a.token__note(href="") 
							.token__note-text #[u IMPORTANT!] Find out more in our #[span.title-grad-pink Whitepaper]
					.token__video
						video(autoplay muted loop playsinline webkit-playsinline).an.fadeIn-scaleFrom
							source(src="_/uploads/token-video.webm" type="video/webm")
							source(src="_/uploads/token-video.mp4" type="video/mp4")
		.anchore__link#token

	+style('roadmap', 'blocks')
	.roadmap.anchore
		.case
			.roadmap__head.b-head
				.b-head__top
					.b-head__num.an.fadeIn-down #[span 4]
					.b-head__name.title-grad-pink.an.fadeIn-up Whats next
				.b-head__title.h2.title-grad-light.an.fadeIn-up #[h2 Roadmap]
				.b-head__text.tac.an.fadeIn-up(data-timeout="0.1s") We understand that constant updates are key to success. Here you can see roadmap that will #[br]allow us to meet all our current goals.
			.roadmap__main.an.fadeIn-up
				.roadmap__slider.swiper
					.roadmap__slider-wrap.swiper-wrapper
						.roadmap__slider-slide.swiper-slide
							.roadmap__info
								.roadmap__icon
								.roadmap__name.h5 #[h5 Marketplace Launch]
								.roadmap__date March, 2021
							.roadmap__border
								.roadmap__border-item
								.roadmap__border-item
								.roadmap__border-item
								.roadmap__border-item
						.roadmap__slider-slide.swiper-slide
							.roadmap__info
								.roadmap__icon
								.roadmap__name.h5 #[h5 Product-Market Fit found]
								.roadmap__date June, 2022
							.roadmap__border
								.roadmap__border-item
								.roadmap__border-item
								.roadmap__border-item
								.roadmap__border-item
						.roadmap__slider-slide.swiper-slide
							.roadmap__info
								.roadmap__icon
								.roadmap__name.h5 #[h5 Whitepaper Creation]
								.roadmap__date December, 2022
							.roadmap__border
								.roadmap__border-item
								.roadmap__border-item
								.roadmap__border-item
								.roadmap__border-item
						.roadmap__slider-slide.swiper-slide
							.roadmap__info
								.roadmap__icon
								.roadmap__name.h5 #[h5 Token Introduction]
								.roadmap__date Now
							.roadmap__border
								.roadmap__border-item
								.roadmap__border-item
								.roadmap__border-item
								.roadmap__border-item
						.roadmap__slider-slide.swiper-slide
							.roadmap__info
								.roadmap__icon
								.roadmap__name.h5 #[h5 Automation Skins Trade]
								.roadmap__date 3rd quarter 2023
							.roadmap__border
								.roadmap__border-item
								.roadmap__border-item
								.roadmap__border-item
								.roadmap__border-item
						.roadmap__slider-slide.swiper-slide
							.roadmap__info
								.roadmap__icon
								.roadmap__name.h5 #[h5 Lottery]
								.roadmap__date 3rd quarter 2023
							.roadmap__border
								.roadmap__border-item
								.roadmap__border-item
								.roadmap__border-item
								.roadmap__border-item
						.roadmap__slider-slide.swiper-slide
							.roadmap__info
								.roadmap__icon
								.roadmap__name.h5 #[h5 More Community Involvement]
								.roadmap__date 4rd quarter 2023
							.roadmap__border
								.roadmap__border-item
								.roadmap__border-item
								.roadmap__border-item
								.roadmap__border-item
						.roadmap__slider-slide.swiper-slide
							.roadmap__info
								.roadmap__icon
								.roadmap__name.h5 #[h5 Paid Features]
								.roadmap__date 1st quarter 2024
							.roadmap__border
								.roadmap__border-item
								.roadmap__border-item
								.roadmap__border-item
								.roadmap__border-item
						.roadmap__slider-slide.swiper-slide
							.roadmap__info
								.roadmap__icon
								.roadmap__name.h5 #[h5 Customized Orders]
								.roadmap__date 1st quarter 2024
							.roadmap__border
								.roadmap__border-item
								.roadmap__border-item
								.roadmap__border-item
								.roadmap__border-item
						.roadmap__slider-slide.swiper-slide
							.roadmap__info
								.roadmap__icon
								.roadmap__name.h5 #[h5 Live #[br] Search]
								.roadmap__date 2nd quarter 2024
							.roadmap__border
								.roadmap__border-item
								.roadmap__border-item
								.roadmap__border-item
								.roadmap__border-item
						.roadmap__slider-slide.swiper-slide
							.roadmap__info
								.roadmap__icon
								.roadmap__name.h5 #[h5 Metaverse for Gaming]
								.roadmap__date 3rd quarter 2024
							.roadmap__border
								.roadmap__border-item
								.roadmap__border-item
								.roadmap__border-item
								.roadmap__border-item
						.roadmap__slider-slide.swiper-slide
							.roadmap__info
								.roadmap__icon
								.roadmap__name.h5 #[h5 Streaming Platform]
								.roadmap__date 4th quarter 2024
							.roadmap__border
								.roadmap__border-item
								.roadmap__border-item
								.roadmap__border-item
								.roadmap__border-item
					.roadmap__arrows.row
						.roadmap__arrow.swiper-button-prev
							.swiper-border
							<svg width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8.74003 0.838811C9.03293 1.1317 9.03293 1.60658 8.74003 1.89947L2.63879 8.00072L8.74003 14.102C9.03293 14.3949 9.03293 14.8697 8.74003 15.1626C8.44714 15.4555 7.97227 15.4555 7.67937 15.1626L1.04779 8.53105C0.754902 8.23816 0.754902 7.76328 1.04779 7.47039L7.67937 0.838811C7.97227 0.545917 8.44714 0.545917 8.74003 0.838811Z" fill="white"/></svg>
						.roadmap__arrow.swiper-button-next
							.swiper-border
							<svg width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.258013 0.838811C-0.0348802 1.1317 -0.0348802 1.60658 0.258013 1.89947L6.35926 8.00072L0.258013 14.102C-0.0348802 14.3949 -0.0348802 14.8697 0.258013 15.1626C0.550906 15.4555 1.02578 15.4555 1.31867 15.1626L7.95025 8.53105C8.24315 8.23816 8.24315 7.76328 7.95025 7.47039L1.31867 0.838811C1.02578 0.545917 0.550906 0.545917 0.258013 0.838811Z" fill="white"/></svg>
		.roadmap__bg
			picture
				source(srcset="_/uploads/roadmap-bg.webp" type="image/webp")
				img(src="_/uploads/roadmap-bg.jpg", alt="" width="1920" height="800" loading="lazy")
		.anchore__link#roadmap

	+style('team', 'blocks')
	.team.anchore
		.case
			.team__head.b-head
				.b-head__top
					.b-head__num.an.fadeIn-down #[span 5]
					.b-head__name.title-grad-pink.an.fadeIn-up experience is everything
				.b-head__title.h2.title-grad-light.an.fadeIn-up #[h2 Our Team]
				.b-head__text.tac.an.fadeIn-up(data-timeout="0.1s") The Loot4Pay team consists of industry veterans. Our combined experience allows us to #[br]understand what modern gamers really want.
			.team__main.an.fadeIn-up
				.team__list.row
					mixin team(img, name, duty)
						.team__item
							.team__img.cover
								img(src=img, alt="" loading="lazy")
							.team__name=name
							.team__duty=duty
					+team('_/uploads/team-1.png', 'Grigoriy Atbashiyan', 'CO-FOUNDER/CEO')
					+team('_/uploads/team-2.png', 'Viktor Falikov', 'CO-FOUNDER/CTO')
					+team('_/uploads/team-3.png', 'Alex Tyutyunnik', 'CO-FOUNDER/COO')
					+team('_/uploads/team-4.png', 'Pavel Pivak', 'MARKETING EXECUTIVE')
					+team('_/uploads/team-5.png', 'Anton Olashyn', 'LEAD DESIGNER')
					+team('_/uploads/team-6.png', 'Dmitriy Plotnikov', 'LEAD DEVELOPER')
			.team__border
		.team__bg
			img(src="_/uploads/team-bg.png", alt="" width="1920" height="1384" loading="lazy")
		.anchore__link#team

	+style('join', 'blocks')
	.join
		.case
			.join__wrap.tac
				.join__inner.an.fadeIn-up
					.join__img
						<svg width="149" height="148" viewBox="0 0 149 148" fill="none" xmlns="http://www.w3.org/2000/svg"><g filter="url(#filter0_d_296_19378)"><rect x="5" y="4.50488" width="139" height="139" rx="21.328" fill="url(#paint0_radial_296_19378)"/><g filter="url(#filter1_dd_296_19378)"><path d="M104.261 88.0952C104.403 87.8536 104.713 87.7707 104.957 87.9086L113.079 92.4957C113.422 92.6895 113.847 92.4416 113.847 92.0474V56.309C113.847 55.9148 113.422 55.6669 113.079 55.8607L104.959 60.447C104.714 60.5852 104.404 60.5015 104.261 60.2589L102.058 56.496C101.912 56.2479 101.998 55.9289 102.249 55.7875L110.327 51.225C110.676 51.0277 110.675 50.5243 110.326 50.3279L78.5658 32.4912C78.2227 32.2985 77.7989 32.5465 77.7989 32.9401V42.0479C77.7989 42.3322 77.5684 42.5627 77.2841 42.5627H72.8655C72.5812 42.5627 72.3507 42.3322 72.3507 42.0479V32.9405C72.3507 32.5468 71.9268 32.2988 71.5837 32.4917L39.7862 50.3641C39.4366 50.5607 39.436 51.0639 39.7853 51.2612L47.8604 55.8221C48.1119 55.9642 48.1973 56.2853 48.0496 56.5336L45.8514 60.2286C45.7086 60.4685 45.4006 60.5509 45.1571 60.4143L37.0323 55.857C36.6891 55.6645 36.2656 55.9125 36.2656 56.306V92.0474C36.2656 92.4416 36.6904 92.6895 37.0336 92.4957L45.155 87.9086C45.3992 87.7707 45.7089 87.8536 45.8515 88.0952L48.0521 91.8235C48.1986 92.0716 48.1129 92.3917 47.862 92.5334L39.7849 97.0955C39.4357 97.2927 39.4361 97.7958 39.7856 97.9924L71.5461 115.864C71.8893 116.057 72.3134 115.809 72.3134 115.415V106.309C72.3134 106.024 72.5439 105.794 72.8282 105.794H77.2841C77.5684 105.794 77.7989 106.024 77.7989 106.309V115.415C77.7989 115.809 78.223 116.057 78.5662 115.864L110.327 97.9924C110.676 97.7958 110.677 97.2927 110.327 97.0955L102.25 92.5334C101.999 92.3917 101.914 92.0716 102.06 91.8235L104.261 88.0952ZM97.9126 86.7052C97.9126 86.8911 97.8124 87.0626 97.6504 87.1538L75.3275 99.728C75.1706 99.8164 74.979 99.8164 74.8222 99.728L52.4993 87.1538C52.3373 87.0626 52.2371 86.8911 52.2371 86.7052V61.6149C52.2371 61.429 52.3373 61.2575 52.4993 61.1663L74.8222 48.5921C74.979 48.5037 75.1706 48.5037 75.3275 48.5921L97.6504 61.1663C97.8124 61.2575 97.9126 61.429 97.9126 61.6149V86.7052Z" fill="white"/><path d="M59.5137 63.0955L75.0747 54.374L90.6357 63.0955L75.0747 71.8534L59.5137 63.0955Z" fill="white"/></g><g filter="url(#filter2_f_296_19378)"><path d="M110.171 55.2512C108.856 57.961 116.79 73.2697 87.9163 50.3613C77.8676 45.4838 70.7878 39.3331 72.1031 36.6233C73.4183 33.9135 82.6307 35.6708 92.6794 40.5482C102.728 45.4257 111.486 52.5414 110.171 55.2512Z" fill="white"/></g></g><defs><filter id="filter0_d_296_19378" x="0.587302" y="0.0921845" width="147.825" height="147.825" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/><feMorphology radius="4.4127" operator="dilate" in="SourceAlpha" result="effect1_dropShadow_296_19378"/><feOffset/><feComposite in2="hardAlpha" operator="out"/><feColorMatrix type="matrix" values="0 0 0 0 0.282552 0 0 0 0 0.313633 0 0 0 0 0.904167 0 0 0 0.2 0"/><feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_296_19378"/><feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_296_19378" result="shape"/></filter><filter id="filter1_dd_296_19378" x="26.7048" y="25.8053" width="96.7028" height="102.629" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/><feOffset dy="2.9418"/><feGaussianBlur stdDeviation="1.4709"/><feComposite in2="hardAlpha" operator="out"/><feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.11 0"/><feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_296_19378"/><feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/><feOffset dy="2.9418"/><feGaussianBlur stdDeviation="4.78042"/><feComposite in2="hardAlpha" operator="out"/><feColorMatrix type="matrix" values="0 0 0 0 0.050191 0 0 0 0 0.0580167 0 0 0 0 0.245833 0 0 0 0.25 0"/><feBlend mode="normal" in2="effect1_dropShadow_296_19378" result="effect2_dropShadow_296_19378"/><feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow_296_19378" result="shape"/></filter><filter id="filter2_f_296_19378" x="52.0886" y="15.493" width="78.071" height="67.1327" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/><feGaussianBlur stdDeviation="9.92857" result="effect1_foregroundBlur_296_19378"/></filter><radialGradient id="paint0_radial_296_19378" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(74.5 4.50488) rotate(90) scale(139)"><stop stop-color="#7C83FF"/><stop offset="1" stop-color="#2D34BB"/></radialGradient></defs></svg>
					.join__title.h2 #[h2 Join us and let’s change the world with Loot4Pay]
					a.join__btn.btn.--grad(href="") Whitepaper
						.btn__border
				.join__stars
					img(src="_/uploads/stars.svg", alt="" width="710" height="371").an.fadeIn
				.join__decor
					img(src="_/uploads/join-bg.png", alt="" width="1680" height="605").an.fadeIn-scaleFrom