.join {
  padding: 126px 0;
}
.join__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.join__img {
  margin-bottom: 34px;
}
.join__title {
  line-height: 80px;
  max-width: 890px;
  margin-bottom: 45px;
}
.join__btn {
  min-width: 191px;
  min-height: 52px;
}
.join__stars {
  z-index: -1;
  top: -150px;
  left: 50%;
  width: 710px;
  height: 100%;
  transform: translateX(-50%);
  position: absolute;
}
.join__decor {
  z-index: -1;
  top: -300px;
  left: 50%;
  width: 1678px;
  height: 604px;
  opacity: 0.8;
  transform: translateX(-50%);
  filter: blur(50px);
  -webkit-filter: blur(50px);
  position: absolute;
}