.header {
  padding: 22px 0;
  background: rgba(19, 15, 42, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.header__wrap {
  align-items: center;
  justify-content: space-between;
}
.header__nav ul li {
  margin-right: 42px;
}
.header__nav ul li a {
  letter-spacing: 0.5px;
  color: #A9B3D6;
}
.header__nav ul li:last-child {
  margin-right: 0;
}
.header__nav ul li:hover a {
  color: var(--white);
}
.header__btns {
  width: 100%;
  max-width: 215px;
}
.header__btn {
  font-size: 14px;
}
.header__btn.--grad {
  max-width: 108px;
  margin-right: 25px;
}
.header__btn.--border {
  max-width: 82px;
}