.header
	padding: 22px 0
	background: rgba(19, 15, 42, 0.2)
	backdrop-filter: blur(10px)
	-webkit-backdrop-filter: blur(10px)
	&__wrap
		align-items: center
		justify-content: space-between
	&__nav
		ul
			li
				margin-right: 42px
				a
					letter-spacing: .5px
					color: #A9B3D6
				&:last-child
					margin-right: 0
				&:hover
					a
						color: var(--white)
	&__btns
		width: 100%
		max-width: 215px
	&__btn
		font-size: 14px
		&.--grad
			max-width: 108px
			margin-right: 25px
		&.--border
			max-width: 82px

@media screen and (max-width: 1220px)
	// .header

@media screen and (max-width: 992px)
	// .header

@media screen and (max-width: 767px)
	// .header
