include ../../sys/pug/vars

header.header.b-line
	.case
		.header__wrap.row
			.header__logo.logo
				img(src="_/uploads/logo.svg", alt="" width="166" height="39")
			.header__nav
				ul
					li
						a(href="#intro") Intro
					li
						a(href="#feat") Features
					li
						a(href="#token") Token
					li
						a(href="#roadmap") Roadmap
					li
						a(href="#team") Team
			.header__btns.row
				a.header__btn.btn.--grad(href="") Whitepaper
					.btn__border
				a.header__btn.btn.--border(href="") Product
					.btn__border