.token {
  padding: 116px 0 96px;
}
.token__main {
  width: 100%;
  max-width: 1110px;
  margin: 105px auto 0;
}
.token__info {
  width: 100%;
  max-width: 550px;
  position: relative;
}
.token__info:before {
  z-index: -1;
  top: -220px;
  left: -420px;
  width: 768px;
  height: 987px;
  background: url("../../uploads/decor-2.png") no-repeat;
  background-size: contain;
  position: absolute;
  content: "";
}
.token__item {
  margin-bottom: 35px;
}
.token__item:last-child {
  margin-bottom: 0;
}
.token__icon {
  margin-bottom: 20px;
}
.token__name {
  margin-bottom: 10px;
}
.token__text {
  line-height: 26px;
  color: var(--main-light);
}
.token__note {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.2px;
  padding: 8px 12px 8px 7px;
  margin-top: 22px;
  border: 1px solid #554681;
  border-radius: 80px;
  color: #8375B4;
  cursor: pointer;
  display: inline-block;
  transition: var(--transition);
}
.token__note u {
  font-size: 13px;
  font-weight: 600;
  border-radius: 42px;
  padding: 3px 8px;
  margin-right: 7px;
  color: var(--black);
  background: var(--white);
  text-transform: uppercase;
}
.token__note:hover {
  color: #9E8ED9;
  border-color: #9E8ED9;
}
.token__video {
  width: 512px;
  height: 512px;
  right: 10px;
  margin-top: 50px;
  position: absolute;
  pointer-events: none;
}
.token__video video {
  width: 100%;
  height: 100%;
  mix-blend-mode: lighten;
}

@media screen and (max-width: 1460px) {
  .token__video {
    right: -20px;
  }
}
@media screen and (max-width: 1280px) {
  .token__main {
    margin: 60px auto 0;
  }
  .token__info {
    max-width: 480px;
  }
  .token__video {
    margin-top: 90px;
    right: -60px;
  }
}
@media screen and (max-width: 991px) {
  .token {
    padding: 96px 0 56px;
  }
  .token__main {
    margin: 50px auto 0;
  }
  .token__info {
    max-width: 100%;
  }
  .token__item {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .token__note {
    max-width: 355px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }
  .token__video {
    right: 0;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
}
@media screen and (max-width: 767px) {
  .token {
    padding: 70px 0;
  }
  .token__head .b-head__num.clean-line:before {
    display: block;
  }
  .token__text {
    font-size: 15px;
  }
  .token__video {
    width: 500px;
    height: 500px;
  }
}
@media screen and (max-width: 580px) {
  .token__video {
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 409px) {
  .token__note {
    margin-top: 35px;
    padding: 16px 12px 10px;
    position: relative;
    justify-content: center;
  }
  .token__note-text {
    text-align: center;
  }
  .token__note-text u {
    top: -10px;
    left: 50%;
    font-size: 12px;
    margin-right: 0;
    transform: translateX(-50%);
    position: absolute;
  }
}