.vision {
  padding: 96px 0 0;
  position: relative;
}
.vision:after {
  z-index: -1;
  bottom: -200px;
  width: 100%;
  height: 1415px;
  transform: matrix(1, 0, 0, -1, 0, 0);
  background: radial-gradient(79% 79% at 50% 0%, #1F184C 0%, #110D27 100%);
  position: absolute;
  content: "";
}
.vision__main {
  width: 100%;
  max-width: 1116px;
  margin: 48px auto 0;
}

.ex {
  padding: 50px;
  min-height: 191px;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ex:before, .ex:after {
  z-index: -2;
  width: 410px;
  height: 160px;
  border-radius: 100%;
  filter: blur(250px);
  -webkit-filter: blur(250px);
  position: absolute;
  content: "";
}
.ex:before {
  top: 0;
  left: 150px;
  background: var(--blue);
}
.ex:after {
  top: -60px;
  right: 120px;
  background: var(--pink);
}
.ex__top {
  z-index: 1;
  top: -14px;
  left: 50%;
  font-size: 15px;
  font-weight: 500;
  padding: 5px 10px;
  transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0px 1px 4px 1px rgba(22, 12, 84, 0.25);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: var(--border-sm);
  text-transform: uppercase;
  position: absolute;
}
.ex__wrap {
  align-items: center;
  justify-content: space-between;
}
.ex__info {
  text-align: right;
}
.ex__price {
  font-size: 45px;
  font-weight: 700;
}
.ex__text {
  font-weight: 500;
  color: #DBE3FF;
}
.ex__bg {
  border-radius: 14px;
  overflow: hidden;
}

.table {
  padding: 25px 25px 20px;
  background: linear-gradient(180deg, #1B163A 0%, #181437 100%);
  border-radius: var(--border-lg);
  position: relative;
}
.table:before {
  inset: 0;
  opacity: 0.5;
  padding: 1px;
  content: "";
  position: absolute;
  transition: var(--transition);
  border-radius: var(--border-lg);
  background: linear-gradient(360deg, #585193 0%, rgba(44, 36, 108, 0) 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.table__wrap {
  display: grid;
  justify-items: center;
  text-align: center;
  grid-template-columns: 332px 348px 348px;
  gap: 20px;
}
.table__col {
  width: 100%;
  height: 100%;
  position: relative;
}
.table__col.--feat .table__item {
  min-height: 103px;
  padding: 28px 45px;
  margin-bottom: 7px;
  letter-spacing: 0.2px;
  background: #0E0B1E;
  border-radius: var(--border);
}
.table__col.--feat .table__item:last-child {
  margin-bottom: 0;
}
.table__col.--true .table__list {
  margin-top: -4px;
  background: linear-gradient(96.57deg, rgba(104, 112, 255, 0.6) 0%, rgba(109, 74, 207, 0.6) 100%), linear-gradient(180deg, #4C2AB2 0%, #8A2FCB 100%);
}
.table__col.--true .table__list:before {
  inset: 0;
  opacity: 0.5;
  padding: 5px;
  content: "";
  position: absolute;
  transition: var(--transition);
  border-radius: var(--border);
  background: linear-gradient(#7487ED 0%, #B550E4 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.table__col.--true .table__item:before {
  top: 50%;
  left: 50%;
  width: 32px;
  height: 24px;
  transform: translate(-50%, -50%);
  background: url("../../uploads/icons/check.svg") no-repeat;
  background-size: contain;
  position: absolute;
  content: "";
}
.table__col.--true .table__item:after {
  opacity: 0.5;
  bottom: 0;
  left: 50%;
  width: 100%;
  height: 1px;
  transform: translateX(-50%);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #8366B7 50%, rgba(255, 255, 255, 0) 100%);
  position: absolute;
  content: "";
}
.table__col.--true .table__item:last-child:after {
  display: none;
}
.table__col.--false .table__list {
  background: linear-gradient(360deg, rgba(35, 40, 95, 0.2) 0%, rgba(38, 44, 118, 0.2) 0.01%, rgba(0, 0, 0, 0) 100%), radial-gradient(122.86% 100% at 50% 0%, rgba(125, 122, 255, 0.1) 0%, rgba(125, 122, 255, 0.1) 0.01%, rgba(112, 0, 255, 0) 100%);
  border: 1px solid #3B316E;
}
.table__col.--false .table__item:before {
  top: 50%;
  left: 50%;
  width: 24px;
  height: 24px;
  transform: translate(-50%, -50%);
  background: url("../../uploads/icons/close.svg") no-repeat;
  background-size: contain;
  position: absolute;
  content: "";
}
.table__col.--false .table__item:after {
  opacity: 0.5;
  bottom: 0;
  left: 50%;
  width: 100%;
  height: 1px;
  transform: translateX(-50%);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #8366B7 50%, rgba(255, 255, 255, 0) 100%);
  position: absolute;
  content: "";
}
.table__col.--false .table__item:last-child:after {
  display: none;
}
.table__title {
  font-size: 21px;
  letter-spacing: 0.2px;
  margin-bottom: 20px;
  color: #6555BF;
}
.table__title strong {
  font-size: 24px;
  font-weight: 500;
  color: #5E53E0;
}
.table__list {
  border-radius: var(--border);
  position: relative;
}
.table__item {
  font-size: 18px;
  line-height: 22px;
  min-height: 109px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.table__item p {
  background: var(--title-grad-light);
  background-clip: text;
  color: transparent;
  display: inline-block;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 1280px) {
  .vision {
    padding: 96px 0 56px;
  }
  .vision__main {
    margin: 60px auto 0;
  }

  .ex {
    padding: 50px 30px;
    margin-bottom: 42px;
  }

  .table__wrap {
    grid-template-columns: 270px 290px 290px;
  }
  .table__col.--feat .table__item {
    padding: 28px;
  }
}
@media screen and (max-width: 991px) {
  .ex {
    padding: 40px 20px;
    min-height: 175px;
    margin-bottom: 30px;
  }
  .ex__top {
    font-size: 14px;
  }
  .ex__logo {
    max-width: 190px;
  }
  .ex__price {
    font-size: 40px;
  }
  .ex__text {
    font-size: 15px;
  }
  .ex__bg {
    border-radius: var(--border);
  }

  .table {
    padding: 16px;
    border-radius: var(--border);
  }
  .table:before {
    border-radius: var(--border);
  }
  .table__wrap {
    gap: 16px;
    grid-template-columns: 220px 212px 212px;
  }
  .table__col.--feat .table__item {
    padding: 16px;
  }
  .table__col.--true .table__list {
    margin-top: 0;
  }
  .table__col.--true .table__list:before {
    padding: 3px;
  }
  .table__col.--true .table__item:before {
    width: 28px;
    height: 20px;
  }
  .table__col.--false .table__item:before {
    width: 22px;
    height: 22px;
  }
  .table__title {
    font-size: 16px;
  }
  .table__title strong {
    font-size: 16px;
  }
  .table__item {
    font-size: 16px;
  }
}
@media screen and (max-width: 767px) {
  .vision {
    padding: 70px 0;
  }
  .vision__main {
    margin: 50px auto 0;
  }

  .ex {
    padding: 30px 16px;
  }
  .ex__top {
    top: -12px;
    font-size: 12px;
    padding: 4px 8px;
  }
  .ex__wrap {
    flex-direction: column;
  }
  .ex__logo {
    margin-bottom: 20px;
  }
  .ex__info {
    text-align: center;
  }
  .ex__price {
    font-size: 36px;
  }
  .ex__text {
    font-size: 14px;
  }

  .table__wrap {
    grid-template-columns: 220px 128px 128px;
  }
  .table__title {
    font-size: 14px;
    min-height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .table__title strong {
    font-size: 14px;
  }
}
@media screen and (max-width: 580px) {
  .ex {
    padding: 25px 10px;
  }
  .ex__logo {
    max-width: 160px;
  }
  .ex__price {
    font-size: 32px;
  }
  .ex__text {
    font-size: 13px;
  }

  .table {
    padding: 10px;
  }
  .table__wrap {
    gap: 10px;
    grid-template-columns: 135px 1fr 1fr;
  }
  .table__col.--feat .table__item {
    padding: 10px;
    min-height: 94.5px;
  }
  .table__col.--true .table__list:before {
    padding: 1px;
  }
  .table__col.--true .table__item:before {
    width: 22px;
    height: 16px;
  }
  .table__col.--false .table__item:before {
    width: 18px;
    height: 18px;
  }
  .table__item {
    font-size: 14px;
    min-height: 100px;
  }
  .table__title {
    font-size: 12px;
  }
  .table__title strong {
    font-size: 12px;
  }
}
@media screen and (max-width: 389px) {
  .table {
    overflow-x: scroll;
    border-radius: 0;
    background: transparent;
  }
  .table:before {
    display: none;
  }
  .table__wrap {
    width: 380px;
    grid-template-columns: 175px 1fr 1fr;
  }
}