@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap')

@import vars
@import reset
@import grid

@import ../../components/btn/btn
@import ../../blocks/header/header
@import ../../blocks/footer/footer

// TYPOGRAPHY	
.h1
	font-size: 58px
	font-weight: 800
	line-height: 72px
	text-transform: capitalize

.h2
	font-size: 60px
	font-weight: 700
	line-height: 72px
	text-transform: capitalize

.h3
	font-size: 24px
	font-weight: 700
	line-height: 34px

.h4
	font-size: 22px
	font-weight: 700
	line-height: 31px

.h5
	font-size: 20px
	font-weight: 600
	line-height: 30px

.title-grad-light
	background: var(--title-grad-light)
	background-clip: text
	color: transparent
	display: inline-block
	text-fill-color: transparent
	-webkit-background-clip: text
	-webkit-text-fill-color: transparent

.title-grad-purple
	background: var(--title-grad-purple)
	background-clip: text
	color: transparent
	display: inline-block
	text-fill-color: transparent
	-webkit-background-clip: text
	-webkit-text-fill-color: transparent

.title-grad-pink
	background: var(--title-grad-pink)
	background-clip: text
	color: transparent
	display: inline-block
	text-fill-color: transparent
	-webkit-background-clip: text
	-webkit-text-fill-color: transparent

// COMMON ELEMENTS
.inner
	overflow: hidden

.overflow-disable
	overflow: hidden

.pt0
	padding-top: 0 !important

.pb0
	padding-bottom: 0 !important

.tac
	text-align: center

.bg
	z-index: 1
	position: relative
	&-img
		top: 0
		left: 0
		right: 0
		bottom: 0
		z-index: -1
		position: absolute
		picture, img
			width: 100%
			height: 100%
			object-fit: cover

.cover
	picture, img
		width: 100%
		height: 100%
		object-fit: cover

.logo
	width: 100%
	max-width: 166px
	display: block

.anchore
	position: relative
	&__link
		top: 20px
		position: absolute

.b-line
	position: relative
	&:after
		left: 50%
		bottom: 0
		width: 1366px
		height: 1px
		opacity: .5
		transform: translateX(-50%)
		background: linear-gradient(90deg, rgba(61, 58, 107, 0.19) 0%, #3D3A6B 46%, rgba(61, 58, 107, 0.19) 100%)
		position: absolute
		content: ""

.b-head
	display: flex
	flex-direction: column
	align-items: center
	&__top
		margin-bottom: 10px
		display: flex
		flex-direction: column
		align-items: center
		&.mb-lg
			margin-bottom: 48px
	&__num
		z-index: 1
		width: 33px
		height: 33px
		font-size: 15px
		font-weight: 600
		display: flex
		align-items: center
		justify-content: center
		&:before, &:after
			z-index: -1
			position: absolute
			content: ""
		&:before
			width: 1px
			height: 100px
			left: 50%
			bottom: 100%
			margin-bottom: -1px
			transform: translateX(-50%)
			background: linear-gradient(rgba(111, 108, 233, 0) 0%, #6F6CE9 100% )
		&:after
			width: 29px
			height: 33px
			background: var(--grad-purple)
			clip-path: path('M12.5 1.1547C13.7376 0.440169 15.2624 0.440169 16.5 1.1547L26.7894 7.0953C28.027 7.80983 28.7894 9.13034 28.7894 10.5594V22.4406C28.7894 23.8697 28.027 25.1902 26.7894 25.9047L16.5 31.8453C15.2624 32.5598 13.7376 32.5598 12.5 31.8453L2.21058 25.9047C0.972976 25.1902 0.210581 23.8697 0.210581 22.4406V10.5594C0.210581 9.13034 0.972977 7.80983 2.21058 7.0953L12.5 1.1547Z')
		&.clean-line
			&:before
				display: none
	&__name
		font-size: 24px
		font-weight: 600
		margin-top: 20px
		text-transform: capitalize
	&__title
		margin-bottom: 20px
	&__text
		font-size: 20px
		line-height: 32px
		max-width: 1036px
		width: 100%
		color: var(--main-light)

.swiper-button-prev, .swiper-button-next
	z-index: 1
	top: 0
	margin-top: 0
	width: 42px
	height: 42px
	position: relative
	border-radius: 8px
	&:before, &:after
		z-index: -1
		top: 0
		left: 0
		width: 100%
		height: 100%
		content: ""
		position: absolute
		transition: var(--transition)
		border-radius: inherit
	&:before
		background: linear-gradient(180deg, #251E42 0%, #110D27 100%)
	&:after
		opacity: 0
		background: linear-gradient(180deg, #34266B 0%, #15102F 100%)
	&:hover
		&:after
			opacity: 1
		.swiper-border
			&:after
				opacity: 1
	&.swiper-button-disabled
		opacity: .5

.swiper-button-prev
	svg
		margin-left: -2px

.swiper-button-next
	svg
		margin-left: 2px

.swiper-border
	width: 42px
	height: 42px
	border: 2px solid #493C79
	border-radius: 8px
	position: absolute
	&:after
		opacity: 0
		inset: 0
		margin: -2px
		padding: 2px
		content: ""
		position: absolute
		border-radius: inherit
		transition: var(--transition)
		background: linear-gradient(180deg, #5458F7 0%, #CD54F7 100%)
		mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0)
		-webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0)
		-webkit-mask-composite: xor
		mask-composite: exclude

// ANIMATION
.fadeIn
	opacity: 0
	&.--loaded
		opacity: 1
		transition: 1.5s
		transition-property: opacity
	&-up
		opacity: 0
		transform: translateY(150px)
		&.--loaded
			opacity: 1
			transition: 1.2s
			transition-property: opacity, transform
			transform: translateY(0)
	&-down
		opacity: 0
		transform: translateY(-100px)
		&.--loaded
			opacity: 1
			transition: .8s
			transition-property: transform
			transform: none
	&-left
		opacity: 0
		transform: translateX(-100%)
		&.--loaded
			opacity: 1
			transition: 1.5s
			transition-property: transform
			transform: none
	&-scaleFrom
		opacity: 0
		transform: scale(.5)
		&.--loaded
			opacity: 1
			transition: 1.2s
			transition-property: opacity, transform
			transform: scale(1)

@media screen and (max-width: 1280px)
	.h1
		font-size: 54px
		line-height: 68px

	.h2
		font-size: 54px
		line-height: 64px

	.h3
		font-size: 22px
		line-height: 32px

	.b-line
		&:after
			width: 950px

	.b-head
		&__top
			&.mb-lg
				margin-bottom: 28px
		&__text
			font-size: 18px
			line-height: 30px
			max-width: 850px

@media screen and (max-width: 991px)
	.h1
		font-size: 48px
		line-height: 58px

	.h2
		font-size: 44px
		line-height: 54px

	.h3
		font-size: 19px
		line-height: 29px

	.b-line
		&:after
			width: 720px

	.b-head
		&__name
			font-size: 20px
		&__text
			max-width: 640px
			br
				display: none

@media screen and (max-width: 767px)
	.h1
		font-size: 38px
		line-height: 48px

	.h2
		font-size: 34px
		line-height: 44px

	.h3
		font-size: 18px
		line-height: 28px

	.b-line
		&:after
			width: 530px

	.b-head
		&__num
			&:before
				height: 80px
		&__name
			font-size: 16px
		&__title
			margin-bottom: 14px
		&__text
			font-size: 16px
			line-height: 28px
			max-width: 500px

@media screen and (max-width: 580px)
	.h1
		font-size: 30px
		line-height: 40px

	.h2
		font-size: 28px
		line-height: 38px

	.h3
		font-size: 16px
		line-height: 26px

	.h4
		font-size: 20px
		line-height: 30px

	.logo
		max-width: 145px

	.b-line
		&:after
			width: 400px

	.b-head
		&__top
			&.mb-lg
				margin-bottom: 16px
		&__name
			font-size: 15px
		&__title
			i
				display: block
		&__text
			font-size: 15px
			line-height: 26px
