@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
:root {
  --ff-main: "Inter", sans-serif;
  --fz-main: 16px;
  --black: #000;
  --white: #FFF;
  --main-dark: #110D27;
  --main-light: #8E9FD7;
  --blue: #0026F0;
  --light-blue: #00E2F0;
  --pink: #BE1DE6;
  --purple: #5445B4;
  --grad-purple: linear-gradient(274.92deg, #5458F7 0%, #CD54F7 100%), linear-gradient(96.57deg, #8F68FF 0%, #4A6FCF 100%);
  --title-grad-light: linear-gradient(180deg, #FFFFFF 0%, #ABB2D8 100%);
  --title-grad-purple: linear-gradient(180deg, #9D8FFA 0%, #6A5AD3 100%);
  --title-grad-pink: linear-gradient(274.92deg, #5458F7 0%, #CD54F7 100%), linear-gradient(96.57deg, #8F68FF 0%, #4A6FCF 100%);
  --transition: .3s ease-in-out;
  --border-sm: 6px;
  --border: 12px;
  --border-md: 20px;
  --border-lg: 28px;
}

*, :before, :after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:focus {
  outline: none !important;
}

html, body {
  min-height: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

body {
  color: var(--white);
  font-size: var(--fz-main);
  font-family: var(--ff-main);
  background: var(--main-dark);
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font: inherit;
  display: inline;
}

ol, ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

li {
  display: block;
  list-style-image: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

a {
  color: var(--white);
  font-size: var(--fz-main);
  font-family: var(--ff-main);
  transition: var(--transition);
  text-decoration: none;
  outline: none;
}

input, textarea, button {
  outline: none;
  appearance: none;
  background: none;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
}

input:-webkit-autofill {
  transition: all 5000s ease-in-out 0s;
}

var {
  font-style: normal;
}

strong {
  font-weight: 700;
}

i {
  font-style: normal;
}

u {
  text-decoration: none;
}

picture, img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

svg {
  display: block;
  transition: var(--transition);
}

path, circle, rect, line {
  transition: var(--transition);
}

.case {
  width: 1420px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
  position: relative;
}
.case .case {
  width: auto;
  padding-left: 0;
  padding-right: 0;
}
@media screen and (max-width: 1280px) {
  .case {
    width: 960px;
  }
}
@media screen and (max-width: 991px) {
  .case {
    width: 730px;
  }
}
@media screen and (max-width: 767px) {
  .case {
    width: 560px;
  }
}
@media screen and (max-width: 580px) {
  .case {
    width: 100%;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.btn {
  z-index: 1;
  width: 100%;
  padding: 10px;
  font-weight: 500;
  letter-spacing: 0.5px;
  font-size: var(--fz-main);
  font-family: var(--ff-main);
  transition: var(--transition);
  border-radius: var(--border-sm);
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  cursor: pointer;
}
.btn__border {
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  transition: var(--transition);
  border-radius: var(--border);
  position: absolute;
}
.btn__border:before {
  inset: 0;
  padding: 1px;
  content: "";
  position: absolute;
  transition: var(--transition);
  border-radius: var(--border-sm);
  background: linear-gradient(90deg, #A687FF 0%, #6870FF 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.btn.--grad {
  color: var(--white);
}
.btn.--grad:before, .btn.--grad:after {
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: inherit;
  transition: var(--transition);
  content: "";
}
.btn.--grad:before {
  background: linear-gradient(96.57deg, #6870FF 0%, #6D4ACF 100%), linear-gradient(180deg, #0C091C 0%, #06040E 100%);
}
.btn.--grad:after {
  opacity: 0;
  background: linear-gradient(96.57deg, #8086FF 0%, #7D5ED4 100%), linear-gradient(180deg, #0C091C 0%, #06040E 100%);
}
.btn.--grad:hover:after {
  opacity: 1;
}
.btn.--border:before, .btn.--border:after {
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: inherit;
  transition: var(--transition);
  content: "";
}
.btn.--border:before {
  background: linear-gradient(180deg, #221D43 0%, #1D1842 100%);
}
.btn.--border:after {
  opacity: 0;
  background: linear-gradient(96.57deg, #6870FF 0%, #6D4ACF 100%), linear-gradient(180deg, #0C091C 0%, #06040E 100%);
}
.btn.--border:hover:after {
  opacity: 1;
}

.h1 {
  font-size: 58px;
  font-weight: 800;
  line-height: 72px;
  text-transform: capitalize;
}

.h2 {
  font-size: 60px;
  font-weight: 700;
  line-height: 72px;
  text-transform: capitalize;
}

.h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
}

.h4 {
  font-size: 22px;
  font-weight: 700;
  line-height: 31px;
}

.h5 {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}

.title-grad-light {
  background: var(--title-grad-light);
  background-clip: text;
  color: transparent;
  display: inline-block;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title-grad-purple {
  background: var(--title-grad-purple);
  background-clip: text;
  color: transparent;
  display: inline-block;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title-grad-pink {
  background: var(--title-grad-pink);
  background-clip: text;
  color: transparent;
  display: inline-block;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.inner {
  overflow: hidden;
}

.overflow-disable {
  overflow: hidden;
}

.pt0 {
  padding-top: 0 !important;
}

.pb0 {
  padding-bottom: 0 !important;
}

.tac {
  text-align: center;
}

.bg {
  z-index: 1;
  position: relative;
}
.bg-img {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  position: absolute;
}
.bg-img picture, .bg-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cover picture, .cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logo {
  width: 100%;
  max-width: 166px;
  display: block;
}

.anchore {
  position: relative;
}
.anchore__link {
  top: 0;
  position: absolute;
}

.b-head {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.b-head__top {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.b-head__top.mb-lg {
  margin-bottom: 48px;
}
.b-head__num {
  z-index: 1;
  width: 33px;
  height: 33px;
  font-size: 15px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.b-head__num:before, .b-head__num:after {
  z-index: -1;
  position: absolute;
  content: "";
}
.b-head__num:before {
  width: 1px;
  height: 100px;
  left: 50%;
  bottom: 100%;
  margin-bottom: -1px;
  transform: translateX(-50%);
  background: linear-gradient(rgba(111, 108, 233, 0) 0%, #6F6CE9 100%);
}
.b-head__num:after {
  width: 29px;
  height: 33px;
  background: var(--grad-purple);
  clip-path: path("M12.5 1.1547C13.7376 0.440169 15.2624 0.440169 16.5 1.1547L26.7894 7.0953C28.027 7.80983 28.7894 9.13034 28.7894 10.5594V22.4406C28.7894 23.8697 28.027 25.1902 26.7894 25.9047L16.5 31.8453C15.2624 32.5598 13.7376 32.5598 12.5 31.8453L2.21058 25.9047C0.972976 25.1902 0.210581 23.8697 0.210581 22.4406V10.5594C0.210581 9.13034 0.972977 7.80983 2.21058 7.0953L12.5 1.1547Z");
}
.b-head__num.clean-line:before {
  display: none;
}
.b-head__name {
  font-size: 24px;
  font-weight: 600;
  margin-top: 20px;
  text-transform: capitalize;
}
.b-head__title {
  margin-bottom: 20px;
}
.b-head__text {
  font-size: 20px;
  line-height: 32px;
  max-width: 1036px;
  width: 100%;
  color: var(--main-light);
}

.swiper-button-prev, .swiper-button-next {
  z-index: 1;
  top: 0;
  margin-top: 0;
  width: 42px;
  height: 42px;
  position: relative;
  border-radius: 8px;
}
.swiper-button-prev:before, .swiper-button-prev:after, .swiper-button-next:before, .swiper-button-next:after {
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  transition: var(--transition);
  border-radius: inherit;
}
.swiper-button-prev:before, .swiper-button-next:before {
  background: linear-gradient(180deg, #251E42 0%, #110D27 100%);
}
.swiper-button-prev:after, .swiper-button-next:after {
  opacity: 0;
  background: linear-gradient(180deg, #34266B 0%, #15102F 100%);
}
.swiper-button-prev:hover:after, .swiper-button-next:hover:after {
  opacity: 1;
}
.swiper-button-prev:hover .swiper-border:after, .swiper-button-next:hover .swiper-border:after {
  opacity: 1;
}
.swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled {
  opacity: 0.5;
}

.swiper-button-prev svg {
  margin-left: -2px;
}

.swiper-button-next svg {
  margin-left: 2px;
}

.swiper-border {
  width: 42px;
  height: 42px;
  border: 2px solid #493C79;
  border-radius: 8px;
  position: absolute;
}
.swiper-border:after {
  opacity: 0;
  inset: 0;
  margin: -2px;
  padding: 2px;
  content: "";
  position: absolute;
  border-radius: inherit;
  transition: var(--transition);
  background: linear-gradient(180deg, #5458F7 0%, #CD54F7 100%);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.fadeIn {
  opacity: 0;
}
.fadeIn.--loaded {
  opacity: 1;
  transition: 1.5s;
  transition-property: opacity;
}