.intro {
  padding: 110px 0 42px;
}
.intro__main {
  margin-bottom: 126px;
  align-items: flex-start;
}
.intro__info {
  width: calc( 100% - 670px );
  padding-right: 75px;
  position: relative;
}
.intro__info:before {
  z-index: -1;
  top: -100px;
  left: -380px;
  width: 638px;
  height: 267px;
  border-radius: 100%;
  background: #6C1FCD;
  filter: blur(380px);
  -webkit-filter: blur(380px);
  content: "";
  position: absolute;
}
.intro__info:after {
  z-index: -1;
  top: 100px;
  left: -250px;
  width: 693px;
  height: 693px;
  background: url("../../uploads/decor-1.png") no-repeat;
  background-size: contain;
  position: absolute;
  content: "";
}
.intro__title {
  margin-bottom: 12px;
}
.intro__text {
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 54px;
  color: var(--main-light);
}
.intro__btn {
  max-width: 191px;
  min-height: 48px;
  margin-right: 24px;
}
.intro__btn:last-child {
  margin-right: 0;
}
.intro__preview {
  width: 100%;
  max-width: 670px;
  position: relative;
}
.intro__preview:before, .intro__preview:after {
  z-index: -1;
  width: 250px;
  filter: blur(250px);
  -webkit-filter: blur(250px);
  border-radius: 100%;
  position: absolute;
  content: "";
}
.intro__preview:before {
  bottom: 80px;
  left: 60px;
  height: 186px;
  background: var(--blue);
}
.intro__preview:after {
  bottom: 150px;
  right: 80px;
  height: 220px;
  background: var(--pink);
}
.intro__video {
  border-radius: var(--border);
  overflow: hidden;
}
.intro__play {
  top: 50%;
  left: 50%;
  width: 98px;
  height: 98px;
  border: 1px solid var(--white);
  transition: var(--transition);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(180deg, rgba(52, 38, 107, 0.37) 0%, rgba(21, 16, 47, 0.37) 100%);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  cursor: pointer;
}
.intro__play img {
  left: 4px;
  position: relative;
}
.intro__play:hover {
  border-color: var(--purple);
}

.games__title {
  margin-bottom: 18px;
  letter-spacing: 3.1px;
  text-shadow: 0px 0px 4px rgba(159, 143, 255, 0.2);
  text-transform: uppercase;
  position: relative;
}
.games__title:before, .games__title:after {
  top: 50%;
  width: 52px;
  height: 1px;
  transform: translateY(-50%);
  background: linear-gradient(270deg, #7365CE 0%, rgba(84, 69, 181, 0) 100%);
  position: absolute;
  content: "";
}
.games__title:before {
  left: -64px;
}
.games__title:after {
  right: -64px;
  transform: translateY(-50%) scale(-1, 1);
}
.games__subtitle {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 3.1px;
  margin-bottom: 16px;
  color: var(--purple);
  text-transform: uppercase;
}
.games__list {
  gap: 21px;
  justify-content: center;
}
.games__item {
  border-radius: var(--border-sm);
  overflow: hidden;
}

@media screen and (max-width: 1460px) {
  .intro__main {
    align-items: center;
  }
  .intro__info {
    width: calc( 100% - 560px );
    padding-right: 50px;
  }
  .intro__preview {
    max-width: 560px;
    margin-left: auto;
  }
  .intro__video img {
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 1280px) {
  .intro {
    padding: 70px 0;
  }
  .intro__main {
    margin-bottom: 100px;
  }
  .intro__info {
    width: 100%;
    max-width: 700px;
    padding-right: 0;
    margin: 0 auto 50px;
    text-align: center;
  }
  .intro__info:before {
    left: -290px;
    filter: blur(300px);
    -webkit-filter: blur(300px);
  }
  .intro__info:after {
    left: -200px;
  }
  .intro__text {
    margin-bottom: 45px;
  }
  .intro__btns {
    justify-content: center;
  }
  .intro__preview {
    max-width: 670px;
    margin-right: auto;
  }
}
@media screen and (max-width: 991px) {
  .intro {
    padding: 50px 0 70px;
  }
  .intro__main {
    margin-bottom: 80px;
  }
  .intro__info {
    max-width: 600px;
  }
  .intro__text {
    font-size: 18px;
    line-height: 28px;
  }
}
@media screen and (max-width: 767px) {
  .intro {
    padding: 40px 0 70px;
  }
  .intro__info {
    max-width: 500px;
  }
  .intro__text {
    font-size: 16px;
    line-height: 26px;
  }
  .intro__preview {
    max-width: 500px;
  }
  .intro__play {
    width: 84px;
    height: 84px;
  }
  .intro__play img {
    width: 25px;
  }

  .games__title {
    max-width: 370px;
  }
  .games__subtitle {
    font-size: 11px;
  }
  .games__list {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 580px) {
  .intro {
    padding: 30px 0 70px;
  }
  .intro__info:before {
    top: -60px;
    left: -170px;
    width: 400px;
    height: 200px;
  }
  .intro__info:after {
    display: none;
  }
  .intro__text {
    margin-bottom: 35px;
  }
  .intro__btn {
    max-width: 172px;
    margin-right: 16px;
  }
  .intro__play {
    width: 80px;
    height: 80px;
  }
  .intro__play img {
    width: 22px;
  }

  .games__title {
    max-width: 260px;
  }
  .games__subtitle {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 389px) {
  .intro__btns {
    flex-direction: column;
  }
  .intro__btn {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 16px;
  }
  .intro__btn:last-child {
    margin-bottom: 0;
  }
}