.intro
	padding: 110px 0 42px
	&__main
		margin-bottom: 126px
		align-items: flex-start
	&__info
		width: calc( 100% - 670px )
		padding-right: 75px
		position: relative
		&:before
			z-index: -1
			top: -100px
			left: -380px
			width: 638px
			height: 267px
			border-radius: 100%
			background: #6C1FCD
			filter: blur(380px)
			-webkit-filter: blur(380px)
			content: ""
			position: absolute
		&:after
			z-index: -1
			top: 100px
			left: -250px
			width: 693px
			height: 693px
			background: url('../../uploads/decor-1.png') no-repeat
			background-size: contain
			position: absolute
			content: ""
	&__title
		margin-bottom: 12px
	&__text
		font-size: 20px
		line-height: 32px
		margin-bottom: 54px
		color: var(--main-light)
	&__btn
		max-width: 191px
		min-height: 48px
		margin-right: 24px
		&:last-child
			margin-right: 0

	&__preview
		width: 100%
		max-width: 670px
		position: relative
		&:before, &:after
			z-index: -1
			width: 250px
			filter: blur(250px)
			-webkit-filter: blur(250px)
			border-radius: 100%
			position: absolute
			content: ""
		&:before
			bottom: 80px
			left: 60px
			height: 186px
			background: var(--blue)
		&:after
			bottom: 150px
			right: 80px
			height: 220px
			background: var(--pink)
		&.--items
			&:before, &:after
				display: none
	&__video
		border-radius: var(--border)
		overflow: hidden
	&__play
		top: 50%
		left: 50%
		width: 98px
		height: 98px
		border: 1px solid var(--white)
		transition: var(--transition)
		border-radius: 50%
		transform: translate(-50%, -50%)
		background: linear-gradient(180deg, rgba(52, 38, 107, 0.37) 0%, rgba(21, 16, 47, 0.37) 100%)
		backdrop-filter: blur(6px)
		-webkit-backdrop-filter: blur(6px)
		display: flex
		align-items: center
		justify-content: center
		position: absolute
		cursor: pointer
		img
			left: 4px
			position: relative
		&:hover
			border-color: var(--purple)

	&__item
		z-index: 1
		transition: var(--transition)
		position: absolute
		&:nth-of-type(1)
			top: -40px
			animation: item-top 4.5s ease-in-out infinite alternate
			&:before
				z-index: -1
				top: 150px
				left: 60px
				width: 210px
				height: 22px
				border-radius: 100%
				background: #6108A8
				transform: rotate(-45deg)
				filter: blur(48px)
				-webkit-filter: blur(48px)
				position: absolute
				content: ""
		&:nth-of-type(2)
			top: -90px
			right: -50px
			animation: item-top 4.5s ease-in-out infinite alternate
			&:before
				z-index: -1
				top: 120px
				right: 150px
				width: 194px
				height: 18px
				border-radius: 100%
				background: linear-gradient(91.23deg, #F37AFD 6.24%, #4053FF 51.05%)
				transform: rotate(30deg)
				filter: blur(40px)
				-webkit-filter: blur(40px)
				position: absolute
				content: ""
		&:nth-of-type(3)
			top: 60px
			left: 60px
			animation: item-bottom 4.5s ease-in-out infinite alternate
			&:before
				z-index: -1
				top: 80px
				left: 100px
				width: 250px
				height: 186px
				border-radius: 100%
				background: var(--blue)
				filter: blur(180px)
				-webkit-filter: blur(180px)
				position: absolute
				content: ""
		&:nth-of-type(4)
			top: 60px
			right: 12px
			animation: item-bottom 4.5s ease-in-out infinite alternate
			&:before
				z-index: -1
				top: 165px
				right: 155px
				width: 112px
				height: 112px
				border-radius: 100%
				background: linear-gradient(180deg, #FDD67A 0%, #FDD67A 0.01%, #FF4040 100%)
				filter: blur(60px)
				-webkit-filter: blur(60px)
				position: absolute
				content: ""
			&:after
				z-index: -1
				top: 0
				right: 0
				width: 247px
				height: 220px
				border-radius: 100%
				background: var(--pink)
				filter: blur(280px)
				-webkit-filter: blur(280px)
				position: absolute
				content: ""

.games
	&__title
		margin-bottom: 18px
		letter-spacing: 3.1px
		text-shadow: 0px 0px 4px rgba(159, 143, 255, 0.2)
		text-transform: uppercase
		position: relative
		&:before, &:after
			top: 50%
			width: 52px
			height: 1px
			transform: translateY(-50%)
			background: linear-gradient(270deg, #7365CE 0%, rgba(84, 69, 181, 0) 100%)
			position: absolute
			content: ""
		&:before
			left: -64px
		&:after
			right: -64px
			transform: translateY(-50%) scale(-1, 1)
	&__subtitle
		font-size: 12px
		font-weight: 600
		letter-spacing: 3.1px
		margin-bottom: 16px
		color: var(--purple)
		text-transform: uppercase
	&__list
		gap: 21px
		justify-content: center
	&__item
		border-radius: var(--border-sm)
		overflow: hidden

@keyframes item-top
	0%
		transform: translateZ(0) rotateY(0deg) rotate(0deg)
	100%
		transform: translate3d(0,3%,-20px) rotateY(12deg) rotate(-6deg)

@keyframes item-bottom
	0%
		transform: translateZ(0) rotateY(0deg) rotate(0deg)
	100%
		transform: translate3d(0,3%,-20px) rotateY(12deg) rotate(6deg)

@media screen and (max-width: 1460px)
	.intro
		&__main
			align-items: center
		&__info
			width: calc( 100% - 560px )
			padding-right: 50px
		&__preview
			max-width: 560px
			margin-left: auto
			&.--items
				top: 0
				right: 0
				max-width: 650px
				position: absolute
		&__video
			img
				width: 100%
				height: 100%
		&__item
			img
				transform: scale(.9)
			&:nth-of-type(1)
				left: 20px
			&:nth-of-type(3)
				left: 40px

@media screen and (max-width: 1280px)
	.intro
		padding: 70px 0
		&__main
			margin-bottom: 100px
		&__info
			width: 100%
			max-width: 700px
			padding-right: 0
			margin: 0 auto 50px
			text-align: center
			&:before
				left: -290px
				filter: blur(300px)
				-webkit-filter: blur(300px)
			&:after
				left: -200px
		&__text
			margin-bottom: 45px
		&__btns
			justify-content: center
		&__preview
			max-width: 670px
			margin-right: auto
			&.--items
				margin-top: 50px
				min-height: 500px
				position: relative
		&__item
			img
				transform: none
			&:nth-of-type(1)
				left: -20px
			&:nth-of-type(2)
				right: -70px
			&:nth-of-type(3)
				left: 20px

@media screen and (max-width: 991px)
	.intro
		padding: 50px 0 70px
		&__main
			margin-bottom: 80px
		&__info
			max-width: 600px
		&__text
			font-size: 18px
			line-height: 28px
		&__preview
			&.--items
				margin-top: 70px
				min-height: 520px

@media screen and (max-width: 767px)
	.intro
		padding: 40px 0 70px
		&__info
			max-width: 500px
		&__text
			font-size: 16px
			line-height: 26px
		&__preview
			max-width: 500px
			&.--items
				margin-top: 50px
				min-height: 470px
		&__play
			width: 84px
			height: 84px
			img
				width: 25px
		&__item
			img
				transform: scale(.85)
			&:nth-of-type(1)
				left: -30px
			&:nth-of-type(2)
				img
					transform: scale(.8)
			&:nth-of-type(3)
				left: -10px
				img
					transform: scale(.8) rotate(10deg)
			&:nth-of-type(4)
				right: -20px
				img
					transform: scale(.8)

	.games
		&__title
			max-width: 370px
		&__subtitle
			font-size: 11px
		&__list
			max-width: 450px
			margin-left: auto
			margin-right: auto

@media screen and (max-width: 580px)
	.intro
		padding: 30px 0 70px
		&__info
			&:before
				top: -60px
				left: -170px
				width: 400px
				height: 200px
			&:after
				display: none
		&__text
			margin-bottom: 35px
		&__btn
			max-width: 172px
			margin-right: 16px
		&__play
			width: 80px
			height: 80px
			img
				width: 22px
		&__preview
			&.--items
				min-height: 44s0px
		&__item
			img
				transform: scale(.75)
			&:nth-of-type(1)
				top: -50px
				left: -50px
			&:nth-of-type(2)
				top: -130px
				right: -105px
				img
					transform: scale(.6)
			&:nth-of-type(3)
				top: 40px
				left: -50px
				img
					transform: scale(.65) rotate(5deg)
			&:nth-of-type(4)
				top: 30px
				right: -110px
				img
					transform: scale(.65) rotate(10deg)
				&:before
					width: 80px
					height: 80px
					right: 170px

	.games
		&__title
			max-width: 260px
		&__subtitle
			margin-bottom: 20px

@media screen and (max-width: 409px)
	.intro
		&__btns
			flex-direction: column
		&__btn
			max-width: 100%
			margin-right: 0
			margin-bottom: 16px
			&:last-child
				margin-bottom: 0
